<div>
  <!--
  <app-nav [loginFromAppComponent]="this.checkUser()" (cancelRegister)="logoutEvent($event)"></app-nav>
    -->
  <app-nav [loginFromAppComponent]="this.checkUser()"></app-nav>

  <div class="container">
    <p>{{user?.id}}</p>

    <ul>
      <li *ngFor="let post of posts">{{post.id}} - {{post.title}}</li>
    </ul>
  </div>


  <div class="container" *ngIf="!(this.accountService.currentUser$ | async)">
    <app-login></app-login>
  </div>

  <app-create-post *ngIf="(this.accountService.currentUser$ | async)"></app-create-post>
</div>