.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the elements horizontally */
}

/*.form-element {
    max-width: 1000px; 
}

.form-label {
    font-size: 15px;
}

.form-control {
    font-size: 14px; 
    width: 70%; 
}*/
/* CSS for the form */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.btn-color {
    background-color: #0e1c36;
    color: #fff;

}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}



.cardbody-color {
    background-color: #ebf2fa;
}

a {
    text-decoration: none;
}